<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projemiz</title>
    
    <link href="~/js/pivottable/pivot.min.css" rel="stylesheet" />

    <link href="~/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/js/datatables.net-bs5/datatables.bootstrap5.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaramaMVC.styles.css" asp-append-version="true" />

    <script src="~/js/jquery/jquery.min.js"></script>

    
    <script src="~/js/jqueryui/jquery-ui.js"></script>
    <script src="~/js/jqueryui/jquery-ui.min.js"></script>

   <script src="~/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap/js/bootstrap.bundle.min.js"></script>
     
    <script src="~/js/chart.bundle.min.js"></script>
    <script src="~/js/pivottable/pivot.min.js"></script>
    <script src="~/js/pivottable/pivot.tr.min.js"></script>
    
<script src="~/js/jquery.datatables.min.js"></script>
    <script src="~/js/datatables.net-bs5/datatables.bootstrap5.min.js"></script>
   
    <script src="~/js/chartjsext/jspdf.debug.js"></script>

    <script src="~/js/chartjsext/jspdfext.js"></script>

    <script src="~/js/dt_js/datatables.bootstrap5.min.js"></script>
    <script src="~/js/dt_js/datatables.buttons.min.js"></script>
    <script src="~/js/dt_js/buttons.bootstrap5.min.js"></script>
    <script src="~/js/dt_js/jszip.min.js"></script>
    <script src="~/js/dt_js/pdfmake.min.js"></script>
    <script src="~/js/dt_js/vfs_fonts.js"></script>
    <script src="~/js/dt_js/buttons.html5.min.js"></script>
    <script src="~/js/dt_js/buttons.print.min.js"></script>
    <script src="~/js/dt_js/buttons.colvis.min.js"></script>
</head>
<body>
    @await Html.PartialAsync("BodySVG")
  
    <header>
        @await Html.PartialAsync("Navbar")
      
       
    </header>
    <div class="container-lg">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            2023 - Projemiz     @{
                var url = String.Format("{0}{1}", Context.Request.Path, Context.Request.QueryString);
            }  <span>@url.ToString()</span>

        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
