@model TaramaMVC.Models.BaseEntity

<a asp-action="Details" asp-route-id="Id" class="btn-sm btn-block">
    <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#view1" /></svg>İncele
</a>
<a asp-action="Edit" asp-route-id="Id" class="btn-sm btn btn-block">
    <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#edit1" /></svg>Düzenle
</a>
<a asp-action="Delete" asp-route-id="Id" class="btn-sm btn-block">
    <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#delete1" /></svg>Sil
</a>