<div class="container">
    <div class="row">
        <h2 class="bg-danger mb-1 p-2 text-white">Giriş Yetkiniz Yok</h2>
        <a asp-controller="Account" asp-action="Logout" class="btn btn-secondary">Tamam</a>
    </div>
</div>
