@model TaramaMVC.Models.AnaBilimDali

@{
    ViewData["Title"] = "Ana Bilim Dalı Sil Mesajı";
}

<div class="container-sm">
<h3>Silmek istediğinize emin misiniz ?</h3>

 
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <div class="row">
            <div class="col form-group md-2 mt-2">
                <a asp-action="Index" class="form-control btn btn-secondary">
                    <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#back1" /></svg>
                    Geri
                </a>
            </div>
        </div>
    </form>
 
</div>