@model TaramaMVC.Models.AnaBilimDali

@{
    ViewData["Title"] = "Ana Bilim Dalı Düzenleme";
}
<div class="container-sm">
    <div class="table-responsive-sm">
        <table class="table table-bordered table-hover table-striped align-middle">
            <thead class="table-light">
                <tr>
                <th>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <label asp-for="Name" class="control-label">Ana Bilim Dalı</label>

                    </th>
                 
                 
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </td>
                <tr>
                    <td>
                     @*   <input type="submit" value="Kaydet" class="form-control btn-secondary" />*@
                        <button type="submit" class="form-control btn-secondary">
                            <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#save1" /></svg>
                            Kaydet
                        </button>
                    </td>
                </tr>
                <tr>
            <td>

                        <a asp-action="Index" class="form-control btn btn-secondary">
                            <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#back1" /></svg>
                            Geri
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
