@model TaramaMVC.Models.PersonelYayinBilgileri

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PersonelYayinBilgileri</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Baslik" class="control-label"></label>
                <input asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alinti" class="control-label"></label>
                <input asp-for="Alinti" class="form-control" />
                <span asp-validation-for="Alinti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yil" class="control-label"></label>
                <input asp-for="Yil" class="form-control" />
                <span asp-validation-for="Yil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
