@model TaramaMVC.Models.PersonelYayinBilgileri

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Baslik" class="control-label"></label>
                <input asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alinti" class="control-label"></label>
                <input asp-for="Alinti" class="form-control" />
                <span asp-validation-for="Alinti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yil" class="control-label"></label>
                <input asp-for="Yil" class="form-control" />
                <span asp-validation-for="Yil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="Row md-2 mt-2">
                <button type="submit" class="form-control btn-secondary">
                    <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#save1" /></svg>
                    Kaydet
                </button>
            </div>
        </form>
    </div>
</div>

<div class="Row md-2 mt-2">
    <a asp-action="Index" class="form-control btn btn-secondary md-2 mt-2">
        <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#back1" /></svg>
        Geri
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
