
@{
    ViewData["Title"] = "Özet Veriler";
}

@*
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Getir">Getir</a>*@
<div class="container-sm mt-2">
    <canvas id="teacherChart"></canvas>
</div>

<script>
    $(document).ready(function () {
        $.getJSON('/Home/ChartHepsiniGetir', function (data) {
            var ctx = $('#teacherChart');
            var labels = [];
            var articleCount = [];
            var citationCount = [];
            debugger;
            //console.log("$.getJSON('/Home/ChartHepsiniGe");
            //console.log(data);
            
          for (var i = 0; i < data.labels.length; i++) {
                labels.push(data.labels[i]);
                articleCount.push(data.alintiData[i]);
                citationCount.push(data.quoteData[i]);
            }
            //console(labels.toString()); 
            //console(articleCount.toString()); 
            //console(citationCount.toString());

            var chartData = {
                labels: labels,
                datasets: [{
                    label: 'Alıntı Sayısı',
                    data: articleCount,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Adı Geçen Makale Sayısı',
                    data: citationCount,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            };

            var options = {
                responsive: true,
    plugins: {
      title: {
        display: true,
        text: 'Grid Line Settings'
      }
    },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            };

            var barChart = new Chart(ctx, {
                type: 'bar',
                data: chartData,
                options: options
            });
        });
    });
</script>
