@{
   // Layout = null;
    ViewData["Title"] = "Raporlar";
}


<div class="container-sm" mt-2">
    <div id="pivotoutput" class="panel panel-default md-2 mt-2">
    </div>
</div>

<div class="text-xxl-start md-2 mt-2">
    <input type="button" class="btn btn-secondary btn-sm" onclick="tableToExcel('pvtTable', 'PivotDownload')" value="Export to Excel">
</div>
<script>

    var OzetVeriler = [];
    var renderers = $.extend(
        $.pivotUtilities.renderers,
        $.pivotUtilities.plotly_renderers,
        $.pivotUtilities.d3_renderers,
        $.pivotUtilities.export_renderers
    );
    function drawPivot() {
        // console.log("drawPivot");
        $(function () {
            $("#pivotoutput").pivotUI(OzetVeriler,
                {
                    renderers: renderers,
                    rendererName: "Table",
                    rows: ["anaBilimDali", "akademikPersonel"],
                    vals: ["alinti", "citesAdeti"],
                    aggregatorName: "Sum"

                }
            )
        });
    }

    function getPivot() {
        //console.log("getPivot");
        return fetch("/Home/HepsiniGetir",
            {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8'

                }
            })
            .then(function (response) {
                //console.log(response);
                if (response.ok) {
                    //console.log("Ok");
                    return response.text();
                } else {
                    console.log("Response Not Ok");
                    throw Error("Response Not Ok");

                }

            })
            .then(function (text) {
                try {
                    //console.log(text);
                    return JSON.parse(text);

                } catch (err) {
                    // console.log("Method Not Found");
                    throw Error("Method Not Found");
                }

            })
            .then(function (responseJSON) {
                //console.log(responseJSON);
                OzetVeriler = responseJSON
                drawPivot();

            })
    }
    //console.log("getpivot çalıştırılıyor");
    getPivot();

</script>

<script type="text/javascript">
    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
            , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementsByClassName(table)[0]
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
</script>

@section Scripts
    {
 
}