@model TaramaMVC.Models.Personel

@{
    ViewData["Title"] = "Akademik Personel Güncelleme";
}
<div class="container">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group md-2 mt-2">
             @*   <label asp-for="Name" class="control-label"></label>*@
                <input asp-for="Name" class="form-control" placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group md-2 mt-2">
               @* <label asp-for="SurName" class="control-label"></label>*@
                <input asp-for="SurName" class="form-control" placeholder="SurName" />
                <span asp-validation-for="SurName" class="text-danger"></span>
            </div>
            <div class="form-group md-2 mt-2">
                @*<label asp-for="AnaBilimDallariId" class="control-label"></label>*@
                <select asp-for="AnaBilimDallariId" class="form-control" asp-items="ViewBag.AnaBilimDallariId" placeholder="AnaBilimDalı"></select>
                <span asp-validation-for="AnaBilimDallariId" class="text-danger"></span>
            </div>
            <div class="form-group md-2 mt-2">
                @* <label asp-for="SurName" class="control-label"></label>*@
                <input asp-for="ScholarName" class="form-control" placeholder="ScholarName" />
                <span asp-validation-for="ScholarName" class="text-danger"></span>
            </div>
            <div class="form-group md-2 mt-2">
                @* <label asp-for="SurName" class="control-label"></label>*@
                <input asp-for="User" class="form-control" placeholder="User ID" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
                <div class="form-group md-2 mt-2">
                    @* <label asp-for="SurName" class="control-label"></label>*@
                    <input asp-for="ApiKey" class="form-control" placeholder="Api Key" />
                    <span asp-validation-for="ApiKey" class="text-danger"></span>
                </div>
             <div class="form-group md-2 mt-2">
                @* <label asp-for="SurName" class="control-label"></label>*@
                <input asp-for="Alintilanma" class="form-control" placeholder="Alintilanma" />
                <span asp-validation-for="Alintilanma" class="text-danger"></span>
            </div>
            <div class="row">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <a asp-action="Index" class="btn btn-secondary" >Geri Dön</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
{
    <div>@error.ErrorMessage</div>
}