@model TaramaMVC.Models.MessageModel

@{
    ViewData["Title"] = Model.Baslik;

}

<div class="container-sm">
    <h3 class="bg-light text-secondary">@Model.Acıklama </h3>

    <div class="col form-group md-2 mt-2">
        <a asp-action="Index" class="form-control btn btn-secondary">
            <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#back1" /></svg>
            Geri
        </a>
    </div>
</div>