@model TaramaMVC.Models.YayinAlintiBilgisi

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group md-2 mt-2">
                <label asp-for="personelYayinBilgileriId" class="control-label">YayınID</label>
                <input asp-for="personelYayinBilgileriId" class="form-control" />
                <span asp-validation-for="personelYayinBilgileriId" class="text-danger"></span>
            </div>
            <div class="form-group md-2 mt-2">
                <label asp-for="Tip" class="control-label"></label>
                <input asp-for="Tip" class="form-control" />
                <span asp-validation-for="Tip" class="text-danger"></span>
            </div>
            <div class="form-group md-2 mt-2">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
                <div class="form-group md-2 mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

    <div class="Row md-2 mt-2">
        <a asp-action="Index" class="form-control btn btn-secondary md-2 mt-2">
            <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#back1" /></svg>
            Geri
        </a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
