@model TaramaMVC.Models.ApiKeys

@{
    ViewData["Title"] = "Serp Api Key";
}

<div class="container-sm">
    <h3 class="bg-warning text-dark">Silmek istediğinize emin misiniz ?</h3>


    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Key)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Key)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col form-group md-2 mt-2">
                <input type="submit" value="Delete" class="form-control btn btn-danger" />
            </div>
        </div>
        <div class="row">
            <div class="col form-group md-2 mt-2">
                <a asp-action="Index" class="form-control btn btn-secondary">
                    <svg class="bi d-block mx-auto mb-1" width="16" height="16"><use xlink:href="#back1" /></svg>
                    Geri
                </a>
            </div>
        </div>
    </form>

</div>